:root {
    --min-deg: -180deg;
    --max-deg: 180deg;
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
}

#ecg-axis {
    background: url('assets/ecg-axis.png');
    background-size: 356px 313px;
    width: 356px;
    height: 313px;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    width: 252px;
    height: 252px;
    position: absolute;
    top: 21px;
    left: 55px;
    z-index: 10;
    border-radius: 100%;
    background-image:
        linear-gradient(var(--min-deg), transparent 50%,  red 50%),
        linear-gradient(var(--max-deg),  red 50%, transparent 50%);
}